# Ignore environment variables and secrets
.env
tokens.json
venv/

# Ignore Python cache files

# Just in case different Python versions
*.cpython-*
=======
_pycache_/
*.py[cod]

resumes/
openai_response_*.txt